<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:firewall="http://wixtoolset.org/schemas/v4/wxs/firewall">
  <Package Name="Local Display Server"
      Manufacturer="Local Display Server Project"
      Version="$(ProductVersion)"
      Language="1033"
      Scope="perMachine"
      UpgradeCode="C4E5A4B5-75A1-4FAE-8D5A-2E6818A2A5C7">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Local Display Server is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Local Display Server">
        <Component Id="ServerServiceComponent" Guid="*">
          <File Id="ServerExe" Source="$(ServerPublishDir)\DisplayServer.Server.exe" KeyPath="yes" />
          <ServiceInstall Id="DisplayServerServiceInstall"
              Name="LocalDisplayServer"
              DisplayName="Local Display Server"
              Description="Self-hosted HLS media signage server."
              Start="auto" Type="ownProcess" ErrorControl="normal" Vital="yes">
            <util:ServiceConfig FirstFailureActionType="restart"
                SecondFailureActionType="restart"
                ThirdFailureActionType="restart"
                RestartServiceDelayInSeconds="5"
                ResetPeriodInDays="1" />
          </ServiceInstall>
          <ServiceControl Id="DisplayServerServiceControl"
              Name="LocalDisplayServer" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
          <firewall:FirewallException Id="DisplayServerFirewall8090"
              Name="Local Display Server"
              Description="Local-network access to the display server."
              Port="8090" Protocol="tcp" Scope="localSubnet" Profile="all" />
        </Component>

        <Directory Id="ManagerFolder" Name="Manager">
          <Component Id="ManagerComponent" Guid="*">
            <File Id="ManagerExe" Source="$(ManagerPublishDir)\DisplayServer.Manager.exe" KeyPath="yes">
              <Shortcut Id="ManagerStartMenuShortcut"
                  Directory="DisplayServerStartMenuFolder"
                  Name="Display Server Manager"
                  Description="Manage Local Display Server"
                  WorkingDirectory="ManagerFolder" />
            </File>
            <RemoveFolder Id="RemoveDisplayServerStartMenuFolder" Directory="DisplayServerStartMenuFolder" On="uninstall" />
          </Component>
        </Directory>

        <Component Id="ThirdPartyNoticesComponent" Guid="*">
          <File Id="ThirdPartyNotices" Source="$(sys.SOURCEFILEDIR)ThirdPartyNotices.txt" KeyPath="yes" />
        </Component>

        <Directory Id="ToolsFolder" Name="Tools">
          <Component Id="FfmpegComponent" Guid="*">
            <File Id="FfmpegExe" Source="$(FfmpegExe)" Name="ffmpeg.exe" KeyPath="yes" />
          </Component>
          <Component Id="FfmpegVersionComponent" Guid="*">
            <File Id="FfmpegVersion" Source="$(FfmpegVersionFile)" Name="ffmpeg.version.txt" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="DisplayServerStartMenuFolder" Name="Local Display Server" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Local Display Server" Level="1">
      <ComponentRef Id="ServerServiceComponent" />
      <ComponentRef Id="ManagerComponent" />
      <ComponentRef Id="ThirdPartyNoticesComponent" />
      <ComponentRef Id="FfmpegComponent" />
      <ComponentRef Id="FfmpegVersionComponent" />
      <Files Include="$(ServerPublishDir)\**" Directory="INSTALLFOLDER">
        <Exclude Files="$(ServerPublishDir)\DisplayServer.Server.exe" />
        <Exclude Files="$(ServerPublishDir)\**\*.pdb" />
      </Files>
      <Files Include="$(ManagerPublishDir)\**" Directory="ManagerFolder">
        <Exclude Files="$(ManagerPublishDir)\DisplayServer.Manager.exe" />
        <Exclude Files="$(ManagerPublishDir)\**\*.pdb" />
      </Files>
    </Feature>

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="$(sys.SOURCEFILEDIR)License.rtf" />
  </Package>
</Wix>